/* CONFIG */

:root {
    --bg-main-color:#0f172a;
    --bg-second-color:#0d1527;
    --button-main-color:#7dd3fc;
    --button-secondary-color:#1e293b;
    --title-color:#44bff8;
    font-size: 10px;
}

html {
    scroll-behavior: smooth;
}

section{
    display: flex;
    justify-content: center;
}

body{
    background-color: var(--bg-second-color);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f11e;
}

::-webkit-scrollbar-thumb {
  background: var(--title-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-main-color);
}


/* NAV BAR */

.nav_items {
    z-index: 1200;
    display: flex;
    padding-inline: 50px;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
    position: fixed;
    width: 100%;
    background: rgba(15, 23, 42, 0.7);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(15, 23, 42, 0.3);
}


.nav_logo {
    font-size:1.8rem;
    color: white;
    transition: 0.5s;
}


nav ul li a {
    color: lightgray;
    font-size: 1.6rem;
    margin-inline: 20px;
    transition: all .2s ease-in-out;
    position: relative;
}

nav ul li a:hover {
    color: var(--button-main-color);
}

nav ul li a:after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, var(--button-main-color) 0%, #17161d00 100%);
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transform-origin: bottom right;
}

nav ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}   

nav ul {
    display: flex;
    margin-right: 10vw;
}

nav a button {
    background-color: var(--button-secondary-color);
    border: none;
    padding: 10px;
    position: relative;
    cursor:pointer;
}

nav a button svg {
    fill :white;
}

.github_button {
    display: flex;
    flex-direction: column;
    position: relative;
}

.github_btn_tooltip {
    position: absolute;
    top: 45px;
    background-color: var(--button-secondary-color);
    opacity: 0.8;
    color: white;
    font-size: 1.3rem;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10%;
    opacity: 0;
    transition:all 0.2s;
    left: -10px;
}

.github_button:hover .github_btn_tooltip{
    opacity: 1;
}

  /* MOBILE MENU */
  
    .mobile_menu{
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: var(--bg-main-color);
        width: 110vw;
        height: 110vh;
        left:-1;
        top:-10;
        overflow: hidden;
    }

    #mobile_links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        width: 100%;
        z-index: 1;
    }

    #mobile_links a{
        color: var(--title-color);
        font-size: 2rem;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .mobile_nav{
        z-index: 5;
        display: none;
    }

    .mobile_nav a{
        color: white;
    }

    #mobile_links a:first-child{
        color: white;
        margin-bottom: 50px;
    }


    /* GREETINGS SECTION */

    .greetings{
        display: flex;
        margin-top: 7rem;
        height: 650px;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        width: 85%;
    }

    .greetings_left_container p{
        color: white;
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .greetings_left_container p:nth-child(1),
    .greetings_left_container p:nth-child(5),
    .greetings_left_container p:nth-child(3)
    {
        color: var(--title-color);
        font-weight: bold;
    }

    .greetings_left_container p:nth-child(4)
    {
        color: gray;
        font-size: 1.8rem;
        line-height: 4rem;
    }

    .greetings_buttons{
        margin-top: 30px;
    }

    .greetings_left_container button{
        padding: 10px 20px;
        background-color: var(--title-color);
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
        transition: ease-in-out 0.3s;
    }

    .greetings_left_container a:nth-child(2) button{
        padding: 10px 20px;
        background-color: var(--button-secondary-color);
        border-radius: 5px;
        cursor: pointer;
        transition: ease-in-out 0.3s;
        border: var(--title-color) 1px solid;
        color: var(--title-color);
    }

    .greetings_left_container a:nth-child(2) button:hover{
        padding: 10px 20px;
        background-color: var(--title-color);
        border-radius: 20px;
        cursor: pointer;
        margin-right: 10px;
        cursor: pointer;
        transition: ease-in-out 0.3s;
        border: var(--title-color) 1px solid;
        color: var(--bg-main-color);
    }

    .greetings_left_container button:hover{
        background-color: var(--button-main-color);
    }

    .greetings_right_container img{
        width: 650px;
    }


    /* ABOUT ME SECTION */

    .about_me {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-main-color);
    }

    .about_me_section{
        flex-direction: column;
        justify-content: center;
        display: flex;
        min-height: 200px;
        padding: 100px 0 100px 0;
        width: 85%;
        align-items: center;
    }

    .about_me span{
        font-size: 1.6rem;
        color: gray;
        text-align: center;
        padding-inline: 150px;
    }

    .about_me span:nth-child(1){
        font-size: 2.4rem;
        color: lightgray;
        margin-bottom: 10px;
        font-weight: bold;
    }

    /* TECHS SECTION */

    .techs {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--bg-second-color);
    }

    .techs_section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        min-height: 400px;
        padding: 100px 0 100px 0;
    }

    .techs .techs_text{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-right: 50px;
    }

    .techs .techs_text span{
        font-size: 1.6rem;
        color: gray;
        text-align: center;
        text-align: left;
    }

    .techs .techs_text span:nth-child(1){
        font-size: 2.4rem;
        color: lightgray;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .techs_cards{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        cursor: pointer;
    }

    .tech_card{
        background-color: var(--button-secondary-color);
        border-radius: 8px 8px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-bottom: 4px var(--button-main-color) solid;
        border-radius: 5px;
        margin: 10px;
        height: 150px;
        width: 150px;
        transition: transform ease-in-out 0.3s;
    }

    .tech_card:hover{
        transform: scale(1.1);
    }

    .tech_card .card_title_up{
        color: var(--button-main-color);
        font-size: 1.6rem;
        position: absolute;
        top: -40px;
        background-color: var(--button-secondary-color);
        padding: 5px;
        border-radius: 5px;
        opacity: 0;
        transition: all 0.5s;
    }

    .tech_card:hover .card_title_up{
        opacity: 1;
    }

    .tech_card .card_title_down{
        color: var(--button-main-color);
        font-size: 1.6rem;
        position: absolute;
        bottom: -45px;
        background-color: var(--button-secondary-color);
        padding: 5px;
        border-radius: 5px;
        opacity: 0;
        transition: all 0.5s;
    }

    .tech_card:hover .card_title_down{
        opacity: 1;
    }

    .techs .tech_card img{
        width: auto;
        max-width: 70px;
        height: auto;
        max-height: 70px;
    }


    /* PORTFOLIO SECTION */

    .portfolio {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        background-color: var(--bg-main-color);
    }

    .portfolio_section{
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        min-height: 400px;
        flex-direction: column;
    }

    .portfolio .section_text{
        font-size: 1.6rem;
        color: gray;
        text-align: center;
        text-align: left;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .portfolio .section_text span:nth-child(1){
        font-size: 2.4rem;
        color: lightgray;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .cards_container{
        margin-top: 50px;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .job_card{
        margin-bottom: 60px;
        width: 370px;
        height: 230px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
    }

    .job_card::after{
        position: absolute;
        content: '';
        width: 370px;
        height: 230px;
        background-color: rgba(0, 0, 0, 0.555);
    }

    .job_card .card_cover img{
        width: 370px;
        height: 230px;
    }

    .card_description {
        gap: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: auto;
        color: white;
        font-size: 1.8rem;
        z-index: 2; 
        transition: all 0.3s;
    }

    #view_more_btn{
        display: none;
        transition: all 0.3s;
        padding: 10px;
        background-color: transparent;
        border: 1px solid var(--title-color);
        color: var(--title-color);
        border-radius: 5px;
        cursor: pointer;
    }

    #view_more_btn:hover{
        background-color: var(--title-color);
        color: var(--button-secondary-color)
    }

    .job_techs{
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.7s;
    }

    .job_techs img{
        width: auto;
        height: auto;
        max-width: 20px;
        max-height: 20px;
        border-radius: 8px 8px 0 0;
    }

    .job_card:hover{
        transform: scale(1.1);
    }

    .job_card:hover:after{
        background-color: transparent;
    }

    .job_card:hover .card_description{
        transform: translateY(150px);
    }

    .job_card:hover #view_more_btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .job_card:hover::after{
        position: absolute;
        content: "";
        background-color: var(--button-secondary-color);
        height: 70px;
        top: 230px;
        width: 370px;
        border-radius: 0 0 8px 8px;
    }

    .job_card:hover .job_techs{
        opacity: 1;
    }

    /* CONTACT SECTION */

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-second-color);
    }

    .contact_section{
        flex-direction: column;
        justify-content: center;
        display: flex;
        padding: 100px 0 100px 0;
        min-height: 400px;
        width: 85%;
        align-items: center;
    }

    .contact .section_text{
        display: flex;
        flex-direction: column;
    }

    .contact .section_text .section_title{
        font-size: 2.4rem;
        color: lightgray;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .contact .section_text{
        font-size: 1.6rem;
        color: gray;
        text-align: center;
        padding-inline: 150px;
    }

    form {
        margin-top: 50px;
    }

    .inputbox {
        position: relative;
        width: 450px;
        margin-bottom: 30px;
    }

    .inputbox input, textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid gray;
        background-color: var(--bg-second-color);
        border-radius: 5px;
        outline: none;
        color: White;
        font-size: 1.6rem;
        transition: 0.5s;
    }

    .inputbox span{
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1.6rem;
        color: rgb(133, 133, 133);
        text-transform: uppercase;
        transition: all 0.5s;
    }

    .inputbox input:valid ~ span,
    .inputbox input:focus ~ span{
        color: var(--button-secondary-color);
        transform: translateX(10px) translateY(-7px);
        font-size: 1.2rem;
        padding: 0 10px;
        border-radius: 2px;
        background-color: var(--title-color);
    }

    .inputbox textarea:valid ~ span,
    .inputbox textarea:focus ~ span{
        color: rgb(133, 133, 133);
        transform: translateX(10px) translateY(-7px);
        font-size: 1.2rem;
        border-inline: 1px solid var(--title-color);
        padding: 0 10px;
        border-radius: 2px;
        background-color: var(--bg-second-color);
    }

    button[type=submit]{
        padding: 10px;
        background-color: var(--title-color);
        color: white;
        border: none;
        border-radius: 5px;
        float: right;
        width: 70px;
        cursor: pointer;
        transition: all 0.5s;
    }

    button[type=submit]:hover{
        background-color: var(--button-main-color);
    }

    .form_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form_msg {
        color: rgb(6, 196, 91);
        font-size: 1.4rem;
    }

    /* FOOTER */

    footer{
        width: 100%;
        height: 30px;
        background-color: var(--bg-main-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer span{
        font-size: 1.2rem;
        color: rgb(133, 133, 133);
    }

    footer a{
        color: var(--title-color);
        text-decoration: none;
    }
  /* MEDIA QUERIES */

  @media (max-width: 768px) {

    nav a button, nav ul, .github_btn_tooltip{
        display: none;
    }

    .mobile_nav{
        display: flex;
    }


  }
